

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  max-width: 400px;
  border: 1px solid black !important; 
  background-color: rgb(255, 255, 255) !important; 
}

.btn1 {
  border-radius: 10px;
}

.passward{
  text-decoration: none;
  color: black;
}






